<a href="https://colab.research.google.com/github/Souravpakhira/Assesment/blob/main/Assement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import os

try:  
    os.mkdir('output')  
except OSError as error:  
    print("Folder already exists!")

Folder already exists!

In [4]:
 input_data = pd.read_csv("input/main.csv")
input_data.dtypes

SKU                    int64
DESCRIPTION           object
YEAR                   int64
CAPACITY              object
URL                   object
PRICE                 object
SELLER_INFORMATION    object
OFFER_DESCRIPTION     object
COUNTRY               object
dtype: object

In [5]:
country = input_data['COUNTRY']
filter_country = country.str.contains('^USA *')
final_output = input_data[filter_country]
final_output.head()

      SKU  ...   COUNTRY
2   11331  ...  USA (CA)
6   11332  ...  USA (CA)
18  11333  ...  USA (CA)
22  11333  ...  USA (MA)
23  11333  ...  USA (CA)

[5 rows x 9 columns]

In [6]:
final_output.to_csv('output/filteredCountry.csv')

In [7]:
a = pd.read_csv('output/filteredCountry.csv')
a.head()

   Unnamed: 0    SKU  ...                         OFFER_DESCRIPTION   COUNTRY
0           2  11331  ...                1990Barbaresco,Angelo Gaja  USA (CA)
1           6  11332  ...                2010Barbaresco,Angelo Gaja  USA (CA)
2          18  11333  ...    2009Barbaresco,Costa Russi,Angelo Gaja  USA (CA)
3          22  11333  ...  Gaja Costa Russi Barbaresco20092009750ml  USA (MA)
4          23  11333  ...        Angelo Gaja Costa Russi Langhe2009  USA (CA)

[5 rows x 10 columns]

In [8]:
price_col = a["PRICE"]

rem_data =price_col.str.contains('[?]')

a.drop(a.index[rem_data],inplace=True)
a["PRICE"].replace(r'\$','',regex=True,inplace=True)
a["PRICE"].replace(',','',regex=True,inplace=True)
a.head()

   Unnamed: 0    SKU  ...                         OFFER_DESCRIPTION   COUNTRY
0           2  11331  ...                1990Barbaresco,Angelo Gaja  USA (CA)
1           6  11332  ...                2010Barbaresco,Angelo Gaja  USA (CA)
2          18  11333  ...    2009Barbaresco,Costa Russi,Angelo Gaja  USA (CA)
3          22  11333  ...  Gaja Costa Russi Barbaresco20092009750ml  USA (MA)
4          23  11333  ...        Angelo Gaja Costa Russi Langhe2009  USA (CA)

[5 rows x 10 columns]

In [9]:
price_test=a.groupby('SKU').filter(lambda x : len(x) >=2)
price_test["PRICE"] = price_test["PRICE"].astype(float)
price_test.dtypes
price_test.head(10)

min_price = price_test.groupby(['SKU']).PRICE.min().to_frame(name="FIRST_MINIMUM_PRICE").reset_index()
sec_price = price_test.groupby(['SKU']).PRICE.nth(1).to_frame(name="SECOND_MINIMUM_PRICE").reset_index()

frames = [min_price,sec_price]
result = pd.merge(min_price,sec_price,on="SKU")
result.head()

     SKU  FIRST_MINIMUM_PRICE  SECOND_MINIMUM_PRICE
0  11333                304.0                359.99
1  11334                329.0                339.00
2  11335                304.0                315.00
3  11336                334.0                364.99
4  11337                334.0                364.99

In [10]:
result.to_csv('output/lowestPrice.csv')